<div class="jumbotron center">
  <h1>Alpha Blog</h1>
    <div class="container" id="welcome-text">
      <!-- cspell: disable -->
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam corrupti dolorum iste, modi atque ipsam tenetur! Numquam
        debitis perferendis labore distinctio voluptatibus, provident commodi unde minus ipsa? Architecto, ab! Iure!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam corrupti dolorum iste, modi atque ipsam tenetur! Numquam
        debitis perferendis labore distinctio voluptatibus, provident commodi unde minus ipsa? Architecto, ab! Iure!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum excepturi molestias? Tenetur ratione consequatur
        harum reprehenderit ipsum totam voluptate? Quisquam perspiciatis deserunt numquam nulla sunt? Numquam inventore deserunt qui.</p>
      <!-- cspell: enable -->

    </div>
      <%= link_to "Sign Up Now", "#", class: "btn btn-warning btn-lg btn-huge" %>
</div>
