// imports
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'customizations';

// general
body {
  color: $primary-text-color;
  font-size: 2em;
}

a {
  @include links;
}

ul {
  list-style: none;
}

footer {
  border-top: solid $divider-color;
  margin-top: 5px;
  padding-top: 5px;
  width: 100%;

  small {
    float: left;
  }

  ul {
    text-align: right;
  }
}

#logo {
  color: $primary-color-text;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

// nav bar --- to do: clean code ??
.navbar-default {
  background-color: $primary-color-dark;
  color: $primary-text-color;

  .navbar-nav {

    li {
      .dropdown-menu {
        background-color: $primary-color;
        color: $primary-text-color;
      }

      a {
        @include links;
        color: $primary-text-color;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: $primary-color-dark;
  color: $primary-text-color;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: $primary-text-color;

  &:hover {
    color: $accent-color;
  }
}

// form
#article_title {
  margin-top: 15px;
}

// home
.jumbotron {
  background-image: asset-url('jumbotron-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include center;

  h1 {
    color: $primary-color-text;
    letter-spacing: -1px;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 25px;
    font-weight: bold;
  }
}

#welcome-text {
  color: $primary-text-color;
  font-size: 1.25em;
  margin-bottom: 25px;
}

.btn-huge {
  @include button-huge;
}


// show
.article-actions {
  border-top: 1px solid $divider-color;
  padding-top: 10px;
}

.article-actions .btn {
  margin: 5px;
}

.description {
  margin: 0;
}

// index
.article-title {
  font-weight: bold;
  font-size: 1.35em;
}

.article-body {
  border-top: 1px solid $divider-color;
  padding: 15px 0;
}
